*{
    margin: 0;
}
.home-page{
    background-color: azure;
}

.big {
    font-size: 40px;
    padding: 20px;
    text-align: center;
    color: firebrick;
    gap: 20px;
}
.Pokemon1-page nav a{
    color: gray;
}
.home-page h1{
    text-align: center;
    font-size: 35px;
}
.home-page p{
    text-align: center;
    font-size: 22px;
    line-height: min(10vh, 10vh);
}
.Pokemon_image{
    width: 100%;

}
.Pokemon1-page{
    background-color: lightgray;
}
.Pokemon1-page h1{
    text-align: center;
    font-size: 50px;
}
.Pokemon1-page p{
    line-height: min(5vh, 5vh);
    text-align: center;
    font-size: 25px;
}
.Pokemon2-page nav a{
    color: blue;
}
.Pokemon1-page h2{
    line-height: min(10vh, 10vh);
    color: darkslategray;
}
.Pokemon_image2{
    width: 400px;
    height: auto;
    margin-right: 100px;
    position: absolute;
    top: 200px;
    right: 400px;
}
.Pokemon2-page{
    background-color:  lightblue;
}
.Pokemon2-page h1{
    text-align: center;
    font-size: 50px;
}
.Pokemon2-page p{
    line-height: min(5vh, 5vh);
    text-align: center;
    font-size: 25px;
}
.Pokemon2-page h2{
    line-height: min(10vh, 10vh);
    color: darkblue;
}
.pokemon_image3{
    width: 400px;
    height: auto;
    margin-right: 100px;
    position: absolute;
    top: 200px;
    right: 400px;
}